[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
pillow = "*"
rpi-ws281x = "*"
adafruit-circuitpython-neopixel = "*"
adafruit-blinka = "*"
redis = "*"
flask = "*"
gunicorn = "*"
"rpi.gpio" = "*"
flask-redis = "*"

[dev-packages]

[requires]
python_version = "3.7"
